.desserts-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    margin-bottom: 100px;
}
.header img{

    width: 20%;
}

.title {
    font-size: 2rem;
    color: #333;

}

.subtitle {
    font-size: 1.5rem;
    color: #555;
}

.desserts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.dessert-card {
    width: 250px;
    background: #f9f9f9;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.dessert-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

.dessert-details h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
}

.dessert-details p {
    font-size: 14px;
    color: #555;
}
.order-controls {
    justify-content: center;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.order-controls button {
    background-color: #f0c040;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.order-controls button:hover {
    background-color: #d89c30;
}

.order-controls button:active {
    background-color: #bf8725;
}

.order-controls span {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    min-width: 20px;
    text-align: center;
}
