/* Sipariş butonu stil */
.order-button {
    position: fixed;
    bottom: 45px;
    left: 20px; /* Sol alt köşeye yerleştirildi */
    padding: 15px 30px;
    background: linear-gradient(to right, black, grey); /* Gradient renk */
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.order-button:hover {
    background: linear-gradient(to right, #333, #888); /* Hoverda daha koyu gradient */
}

/* Order Popup stil */
.order-popup {
    position: fixed;
    top: 0;
    right: -350px; /* Başlangıçta gizli */
    width: 350px;
    height: 100%;
    background: linear-gradient(to bottom, #00ffd8, #8b64a1); /* Siyah ile gri arasında geçiş */
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.7);
    z-index: 1000;
    transition: right 0.3s ease-in-out; /* Animasyon efekti */
}

/* Popup açıldığında sağa kayacak */
.order-popup.open {
    right: 0; /* Pop-up sağa kayar */
}

/* Pop-up içerik stil */
.popup-content {
    padding: 20px;
    overflow-y: auto;
}

/* Başlık */
.popup-content h3 {
    text-align: center;
    margin-top: 0;
    font-size: 24px;
    color: #333;
}

/* Sipariş öğeleri */
.order-item {
    display: flex;
    margin-bottom: 15px;
    background: linear-gradient(to bottom right, #ffae00, #00ffa5); /* Siyah ile gri arasında geçiş */
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
}

/* Kapatma butonu */
.close-button {
    display: block;
    margin-top: 20px;
    padding: 10px;
    background: linear-gradient(to bottom right, black, red); /* Siyah ile gri arasında geçiş */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
}

.close-button:hover {
    background-color: #d32f2f;
}

/* Siparişi Gönder butonu */
.send-button {
    display: block;
    margin-top: 10px;
    padding: 10px;
    background: linear-gradient(to bottom right, #008CBA, #000000);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 19px;
    font-weight: bold;
    width: 100%;
}

.send-button:hover {
    background-color: #007bb5;
}

/* Masa numarası girişi */
.table-id-input {
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Hata mesajı */
.error-message {
    color: red;
    font-size: 20px;
    margin-top: 10px;
}