.payment-container {
    padding: 20px;
    text-align: center;
}

.payment-details {
    margin-top: 20px;
    text-align: left;
    display: inline-block;
}

.payment-button,
.back-button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}

.payment-button:hover,
.back-button:hover {
    background-color: #0056b3;
}
