.payment-container {
    padding: 20px;
    text-align: center;
}

.payment-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.payment-form label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
}

.payment-form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
}

.button-group {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.payment-button,
.back-button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    width: auto;
    max-width: 150px;
}

.payment-button:hover,
.back-button:hover {
    background-color: #0056b3;
}